html, body, main, div, span,
object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp,small, strike,
strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time,
mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;

  font-size: 100%;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(20, 23, 28, 0);
}

html {
  overflow-x: hidden;
  height: 100%;
}

*{
  outline:none;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

*:active, *:hover, *:focus {
  outline: 0;
  outline-offset: 0;
}

*::-moz-focus-inner {
  border: 0;
}

body{
  font-size: 16px;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
}

img {
  display: block;
  max-width: 100%;
}

/* Prevent glowing. */
label, a, input, textarea {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  //-webkit-appearance: none;
}

figure{
  margin: 0;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
  background: transparent;
  padding:0;
}