{
  "parser": "babel-eslint",
  "extends": ["react-app", "shared-config"],
  "rules": {
    "semi": [2, "always"],
    "quotes": [2, "single"],
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreStrings": true,
        "ignoreComments": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "react/jsx-no-undef": ["error", { "allowGlobals": false }],
    "no-var": "error",
    "camelcase": 0,
    "operator-linebreak": [
      "error",
      "before",
      {
        "overrides": {
          "=": "ignore"
        }
      }
    ],
    "arrow-body-style": [
      "error", "as-needed", {
      "requireReturnForObjectLiteral": false
    }]
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true,
      "experimentalObjectRestSpread": true
    }
  }
}